# Task 2: Data Profiling, Cleaning & EDA
**Objective:** Profile, clean, and explore the solar dataset for Benin so it’s ready for comparison and region-ranking tasks.

This notebook includes:
- Summary statistics and missing-value report
- Outlier detection and cleaning
- Time series analysis
- Correlation and scatter plots
- Wind and temperature analysis
- Bubble charts

## Importing the dependencies

In [19]:
# import dependencies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

## Setting the plotting style and Loading the Data

In [20]:
# Set both plotting and display settings
sns.set_palette("husl")
plt.style.use('seaborn-v0_8')
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 5)

# Load dataset
df = pd.read_csv(r"D:\Python\Week_01\data\data\benin-malanville.csv")

In [21]:
# Show basic info
print(f"Dataset shape: {df.shape}")
df.info()

Dataset shape: (525600, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [22]:
#  Display column names
print("\nColumn names:")
print(df.columns.tolist())

Column names:
['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS', 'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation', 'TModA', 'TModB', 'Comments']

In [23]:
#  Display the first 5 rows
print("\nFirst 5 rows:")
display(df.head())

First 5 rows:

,Timestamp,GHI,DNI,DHI,ModA,...,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,...,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,...,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,...,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,...,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,...,0,0.0,26.4,26.3,NaN

In [24]:
# Display the last 10 rows
print("\nLast 10 rows:")
display(df.tail(10))

Last 10 rows:

,Timestamp,GHI,DNI,DHI,ModA,...,Cleaning,Precipitation,TModA,TModB,Comments
525590,2022-08-08 23:51,-5.5,-0.1,-5.8,0.0,...,0,0.0,23.4,22.8,NaN
525591,2022-08-08 23:52,-5.5,0.0,-5.8,0.0,...,0,0.0,23.4,22.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,...,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,...,0,0.0,23.5,22.9,NaN

In [25]:
# Display 10 random sample rows
print("\nRandom sample of 10 rows:")
display(df.sample(10, random_state=42))

Random sample of 10 rows:

,Timestamp,GHI,DNI,DHI,ModA,...,Cleaning,Precipitation,TModA,TModB,Comments
97300,2021-10-15 13:41,931.0,864.0,143.8,949.0,...,0,0.0,65.2,56.6,NaN
123024,2021-11-02 10:25,618.2,212.1,449.6,641.4,...,0,0.0,59.0,51.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...
152664,2021-11-23 00:25,-1.6,-0.6,-1.7,0.0,...,0,0.0,18.7,17.6,NaN
187318,2021-12-17 01:59,-5.2,-0.9,-6.8,0.0,...,0,0.0,15.7,14.6,NaN

In [ ]:
# Check for missing values
print("\nMissing values per column:")
print(df.isna().sum())

# Percentage of missing values per column
print("\nPercentage of missing values:")
print((df.isna().mean() * 100).round(2))

# Show only columns with any missing values
missing = df.isna().sum()
missing = missing[missing > 0]
print("\nColumns with missing values:")
print(missing)

Missing values per column:
Timestamp         0
GHI               0
              ...
TModB             0
Comments     525600
Length: 19, dtype: int64

Percentage of missing values:
Timestamp      0.0
GHI            0.0
             ...
TModB          0.0
Comments     100.0
Length: 19, dtype: float64

Columns with missing values:
Comments    525600
dtype: int64

In [ ]:
# Visualize missing values
plt.figure(figsize=(10, 6))
sns.heatmap(df.isna(), cbar=False, cmap='viridis')
plt.title("Missing Values Heatmap")
plt.show()